:root{
    --background-color:#d946ef;

}
body{
   margin: 0;
   background-color:var(--background-color);
   
}
.container{

text-align: center;
}
.luckyno{
   padding: 0.7rem;
   outline: none;
   border: 1px solid gray;
   border-radius: 20px;
    margin: auto;
    display: flex;
  
}
.button{
    outline: none;
   border: 1px solid gray;
   border-radius: 20px;
   padding: 0.8rem;
    width: 120px;
   margin-top: 1.6rem;
   cursor: pointer;
   font-weight: bold;
   font-size: large;
}
p{
    font-size: larger;
    font-weight: bolder;
}
.img{
    width: 30%;
    
}
.non-bullets{
    list-style: none;
    display: inline;
    padding:  2rem;
    text-decoration: none;
    font-size: 30px;
}
.foot{
display: inline-flex;
width: 90%;
}
.title{
    text-align: left;
    margin: 1rem;
    font-size: 30px;
}
ul{
    text-align: right;
    width: 100%;

}
.link{
    text-decoration: none;
    
}
